/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

.notes {
  display: flex;
  height: 100%;

	& * {
    font-family: 'Open Sans', sans-serif;
	}

	&__sidebar {
		cursor: pointer;
		border-right: 2px solid #3c3b3b;
		flex-shrink: 0;
		overflow-y: auto;
		padding: 1em;
		width: 350px;
		background-color: rgb(49, 48, 48);
	}

	&__add {
		cursor: pointer;
		background: #1b3445;
		border: none;
		color: #ffffff;
		border-radius: 5px;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 1em;
		padding: 0.75em 0;
		width: 100%;

		&:hover {
			transition: all 1s;
			background: #dbc954;
		}
	}

	&__item {
		padding: 15px;
		color: #fff;
		margin: 10px 25px;
	}
	
	&__list-item {
		position: relative;
		&--selected {
			background: rgb(0, 175, 140, 0.6);
			border-radius: 5px;
		}
	}

	&__delete {
		position: absolute;
		content: "";
		top: 5%;
		right: 2%;
		width: 30px;
		height: 30px;
		text-align: center;
		color: rgb(196, 44, 44);
	}

	&__small-title,
	&__small-updated {
    padding: 10px;
	}

	&__small-title {
    font-size: 1.2em;
	}
	
	&__small-body {
    padding: 0 10px;
	}

	&__small-updated {
		color: #aaaaaa;
    font-style: italic;
    text-align: right;
	}

	&__preview {
		background-color: #242323;
    display: flex;
    flex-direction: column;
		flex-grow: 1;
		color: #fff;
	}

	&__title,
	&__body {
		border: none;
		outline: none;
		width: 100%;
		background-color: #242323;
	}

	&__title {
    font-size: 30px;
    font-weight: bold;
		color: #fff;
	}

	&__body {
		flex-grow: 1;
		font-size: 1.2em;
		line-height: 1.5;
		margin-top: 2em;
		resize: none;
		color: #fff;
	}

	&__form {
		display: flex;
    flex-direction: column;
    padding: 15px 20px;
    flex-grow: 1;
	}
}

.preview__message {
	padding: 15px;
}

.notes__updated {
	text-align: center;
}

.material-icons {
	font-family: 'Material Icons';
}


@media (max-width: 767.98px) {
	.notes {
		flex-direction: column;

		&__add {
			font-size: 17px;
		}

		&__sidebar {
			width: auto;
		}

		&__title {
			font-size: 22px;
		}

		&__body {
			font-size: 16px;
		}
	}
}